{% extends '::base.html.twig' %}

{% block body -%}
      <div class="container-fluide">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              {% for entity in entities %}
              <div class="col-md-4">
                <div class="post">
                  {% if entity.images.path is empty %}
                  <h5>Aucune image</h5>
                  {% else %}
                  <img src="{{ asset(entity.images.AssetPath) }}" alt="{{ entity.images.name }}">
                  {% endif %}
                  <h3><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.title }}</a></h3>
                  <p>{{ entity.description }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
